<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zast1.png</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>w</key>
		<integer>241</integer>
		<key>h</key>
		<integer>133</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>metapple01.png</key>
	<dict>
		<key>x</key>
		<integer>433</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple02.png</key>
	<dict>
		<key>x</key>
		<integer>325</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple03.png</key>
	<dict>
		<key>x</key>
		<integer>541</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple04.png</key>
	<dict>
		<key>x</key>
		<integer>325</integer>
		<key>y</key>
		<integer>262</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple05.png</key>
	<dict>
		<key>x</key>
		<integer>217</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple06.png</key>
	<dict>
		<key>x</key>
		<integer>217</integer>
		<key>y</key>
		<integer>262</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple07.png</key>
	<dict>
		<key>x</key>
		<integer>109</integer>
		<key>y</key>
		<integer>262</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple08.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>262</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple09.png</key>
	<dict>
		<key>x</key>
		<integer>865</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>metapple10.png</key>
	<dict>
		<key>x</key>
		<integer>757</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>zast2.png</key>
	<dict>
		<key>x</key>
		<integer>719</integer>
		<key>y</key>
		<integer>262</integer>
		<key>w</key>
		<integer>134</integer>
		<key>h</key>
		<integer>57</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>gameover06.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>389</integer>
		<key>w</key>
		<integer>315</integer>
		<key>h</key>
		<integer>57</integer>
		<key>offsetX</key>
		<integer>1</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>Nazhataya.png</key>
	<dict>
		<key>x</key>
		<integer>576</integer>
		<key>y</key>
		<integer>262</integer>
		<key>w</key>
		<integer>139</integer>
		<key>h</key>
		<integer>62</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>-2</integer>
	</dict>
	<key>Nenazhataya.png</key>
	<dict>
		<key>x</key>
		<integer>433</integer>
		<key>y</key>
		<integer>262</integer>
		<key>w</key>
		<integer>137</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>-2</integer>
		<key>offsetY</key>
		<integer>-10</integer>
	</dict>
	<key>Target01.png</key>
	<dict>
		<key>x</key>
		<integer>109</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target02.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target03.png</key>
	<dict>
		<key>x</key>
		<integer>649</integer>
		<key>y</key>
		<integer>135</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target04.png</key>
	<dict>
		<key>x</key>
		<integer>783</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target05.png</key>
	<dict>
		<key>x</key>
		<integer>675</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target06.png</key>
	<dict>
		<key>x</key>
		<integer>567</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target07.png</key>
	<dict>
		<key>x</key>
		<integer>891</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target08.png</key>
	<dict>
		<key>x</key>
		<integer>351</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target09.png</key>
	<dict>
		<key>x</key>
		<integer>459</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
	<key>Target10.png</key>
	<dict>
		<key>x</key>
		<integer>243</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>107</integer>
		<key>h</key>
		<integer>122</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>