<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shleyf01.png</key>
	<dict>
		<key>x</key>
		<integer>645</integer>
		<key>y</key>
		<integer>816</integer>
		<key>w</key>
		<integer>358</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>shleyf02.png</key>
	<dict>
		<key>x</key>
		<integer>367</integer>
		<key>y</key>
		<integer>976</integer>
		<key>w</key>
		<integer>358</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>shleyf03.png</key>
	<dict>
		<key>x</key>
		<integer>366</integer>
		<key>y</key>
		<integer>925</integer>
		<key>w</key>
		<integer>358</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>shleyf04.png</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>918</integer>
		<key>w</key>
		<integer>358</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>shleyf05.png</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>869</integer>
		<key>w</key>
		<integer>358</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>shleyf06.png</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>971</integer>
		<key>w</key>
		<integer>358</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>shleyf07.png</key>
	<dict>
		<key>x</key>
		<integer>365</integer>
		<key>y</key>
		<integer>874</integer>
		<key>w</key>
		<integer>358</integer>
		<key>h</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>ukus01.png</key>
	<dict>
		<key>x</key>
		<integer>801</integer>
		<key>y</key>
		<integer>435</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>ukus02.png</key>
	<dict>
		<key>x</key>
		<integer>321</integer>
		<key>y</key>
		<integer>652</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip03_01.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>652</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip03_04.png</key>
	<dict>
		<key>x</key>
		<integer>481</integer>
		<key>y</key>
		<integer>652</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_06.png</key>
	<dict>
		<key>x</key>
		<integer>161</integer>
		<key>y</key>
		<integer>652</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip04_01.png</key>
	<dict>
		<key>x</key>
		<integer>641</integer>
		<key>y</key>
		<integer>652</integer>
		<key>w</key>
		<integer>286</integer>
		<key>h</key>
		<integer>163</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip04_02.png</key>
	<dict>
		<key>x</key>
		<integer>729</integer>
		<key>y</key>
		<integer>860</integer>
		<key>w</key>
		<integer>286</integer>
		<key>h</key>
		<integer>163</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_05.png</key>
	<dict>
		<key>x</key>
		<integer>641</integer>
		<key>y</key>
		<integer>435</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip03_02.png</key>
	<dict>
		<key>x</key>
		<integer>481</integer>
		<key>y</key>
		<integer>435</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip03_03.png</key>
	<dict>
		<key>x</key>
		<integer>321</integer>
		<key>y</key>
		<integer>435</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_02.png</key>
	<dict>
		<key>x</key>
		<integer>161</integer>
		<key>y</key>
		<integer>435</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_03.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>435</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip01_01.png</key>
	<dict>
		<key>x</key>
		<integer>801</integer>
		<key>y</key>
		<integer>218</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip01_02.png</key>
	<dict>
		<key>x</key>
		<integer>641</integer>
		<key>y</key>
		<integer>218</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip01_03.png</key>
	<dict>
		<key>x</key>
		<integer>481</integer>
		<key>y</key>
		<integer>218</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip01_04.png</key>
	<dict>
		<key>x</key>
		<integer>321</integer>
		<key>y</key>
		<integer>218</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_01.png</key>
	<dict>
		<key>x</key>
		<integer>161</integer>
		<key>y</key>
		<integer>218</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_04.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>218</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_35.png</key>
	<dict>
		<key>x</key>
		<integer>801</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_36.png</key>
	<dict>
		<key>x</key>
		<integer>641</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_37.png</key>
	<dict>
		<key>x</key>
		<integer>481</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_38.png</key>
	<dict>
		<key>x</key>
		<integer>321</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_39.png</key>
	<dict>
		<key>x</key>
		<integer>161</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>clip02_40.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>159</integer>
		<key>h</key>
		<integer>216</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>