<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>swat04.png</key>
	<dict>
		<key>x</key>
		<integer>397</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>162</integer>
		<key>h</key>
		<integer>224</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>swat_shlepok.png</key>
	<dict>
		<key>x</key>
		<integer>822</integer>
		<key>y</key>
		<integer>721</integer>
		<key>w</key>
		<integer>162</integer>
		<key>h</key>
		<integer>179</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>swat01.png</key>
	<dict>
		<key>x</key>
		<integer>69</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>162</integer>
		<key>h</key>
		<integer>224</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>swat02.png</key>
	<dict>
		<key>x</key>
		<integer>234</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>162</integer>
		<key>h</key>
		<integer>224</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>swat03.png</key>
	<dict>
		<key>x</key>
		<integer>560</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>162</integer>
		<key>h</key>
		<integer>224</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>spoon.png</key>
	<dict>
		<key>x</key>
		<integer>941</integer>
		<key>y</key>
		<integer>151</integer>
		<key>w</key>
		<integer>69</integer>
		<key>h</key>
		<integer>245</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>spoon_shlepok.png</key>
	<dict>
		<key>x</key>
		<integer>415</integer>
		<key>y</key>
		<integer>891</integer>
		<key>w</key>
		<integer>144</integer>
		<key>h</key>
		<integer>59</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>fork_hole.png</key>
	<dict>
		<key>x</key>
		<integer>884</integer>
		<key>y</key>
		<integer>175</integer>
		<key>w</key>
		<integer>43</integer>
		<key>h</key>
		<integer>11</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>fork_up.png</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>11</integer>
		<key>w</key>
		<integer>63</integer>
		<key>h</key>
		<integer>203</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank01.png</key>
	<dict>
		<key>x</key>
		<integer>491</integer>
		<key>y</key>
		<integer>554</integer>
		<key>w</key>
		<integer>320</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank03.png</key>
	<dict>
		<key>x</key>
		<integer>218</integer>
		<key>y</key>
		<integer>717</integer>
		<key>w</key>
		<integer>259</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank04.png</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>717</integer>
		<key>w</key>
		<integer>215</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank05.png</key>
	<dict>
		<key>x</key>
		<integer>811</integer>
		<key>y</key>
		<integer>556</integer>
		<key>w</key>
		<integer>216</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank06.png</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>394</integer>
		<key>w</key>
		<integer>200</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank07.png</key>
	<dict>
		<key>x</key>
		<integer>479</integer>
		<key>y</key>
		<integer>718</integer>
		<key>w</key>
		<integer>343</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank08.png</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>554</integer>
		<key>w</key>
		<integer>267</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank09.png</key>
	<dict>
		<key>x</key>
		<integer>522</integer>
		<key>y</key>
		<integer>391</integer>
		<key>w</key>
		<integer>295</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank10.png</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>391</integer>
		<key>w</key>
		<integer>211</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank11.png</key>
	<dict>
		<key>x</key>
		<integer>739</integer>
		<key>y</key>
		<integer>-8</integer>
		<key>w</key>
		<integer>282</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank12.png</key>
	<dict>
		<key>x</key>
		<integer>552</integer>
		<key>y</key>
		<integer>228</integer>
		<key>w</key>
		<integer>344</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank13.png</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>228</integer>
		<key>w</key>
		<integer>242</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank14.png</key>
	<dict>
		<key>x</key>
		<integer>270</integer>
		<key>y</key>
		<integer>554</integer>
		<key>w</key>
		<integer>219</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank15.png</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>228</integer>
		<key>w</key>
		<integer>306</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>rank16.png</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>391</integer>
		<key>w</key>
		<integer>306</integer>
		<key>h</key>
		<integer>162</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>zast1.png</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>881</integer>
		<key>w</key>
		<integer>241</integer>
		<key>h</key>
		<integer>133</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>zast2.png</key>
	<dict>
		<key>x</key>
		<integer>734</integer>
		<key>y</key>
		<integer>160</integer>
		<key>w</key>
		<integer>134</integer>
		<key>h</key>
		<integer>57</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>gameover06.png</key>
	<dict>
		<key>x</key>
		<integer>264</integer>
		<key>y</key>
		<integer>966</integer>
		<key>w</key>
		<integer>316</integer>
		<key>h</key>
		<integer>57</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>Nazhataya.png</key>
	<dict>
		<key>x</key>
		<integer>575</integer>
		<key>y</key>
		<integer>885</integer>
		<key>w</key>
		<integer>142</integer>
		<key>h</key>
		<integer>66</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>Nenazhataya.png</key>
	<dict>
		<key>x</key>
		<integer>264</integer>
		<key>y</key>
		<integer>896</integer>
		<key>w</key>
		<integer>142</integer>
		<key>h</key>
		<integer>66</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>