<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>s1</key>
	<dict>
		<key>name</key>
		<string>Asdfasdfasffffffff</string>
		<key>score</key>
		<integer>90</integer>
	</dict>
	<key>s10</key>
	<dict>
		<key>name</key>
		<string>Sam</string>
		<key>score</key>
		<integer>5</integer>
	</dict>
	<key>s2</key>
	<dict>
		<key>name</key>
		<string>Bill</string>
		<key>score</key>
		<integer>80</integer>
	</dict>
	<key>s3</key>
	<dict>
		<key>name</key>
		<string>Can</string>
		<key>score</key>
		<integer>70</integer>
	</dict>
	<key>s4</key>
	<dict>
		<key>name</key>
		<string>Duck</string>
		<key>score</key>
		<integer>60</integer>
	</dict>
	<key>s5</key>
	<dict>
		<key>name</key>
		<string>drmike</string>
		<key>score</key>
		<string>50</string>
	</dict>
	<key>s6</key>
	<dict>
		<key>name</key>
		<string>john</string>
		<key>score</key>
		<integer>40</integer>
	</dict>
	<key>s7</key>
	<dict>
		<key>name</key>
		<string>mik</string>
		<key>score</key>
		<integer>30</integer>
	</dict>
	<key>s8</key>
	<dict>
		<key>name</key>
		<string>nick</string>
		<key>score</key>
		<integer>20</integer>
	</dict>
	<key>s9</key>
	<dict>
		<key>name</key>
		<string>rick</string>
		<key>score</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
